# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 3. Assign it to a variable called drinks.

In [3]:
df_drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

### Step 4. Which continent drinks more beer on average?

In [7]:
mean_bear = df_drinks.beer_servings.mean()
df_drinks[df_drinks['beer_servings'] > mean_bear]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
6,Argentina,193,25,221,8.3,SA
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
...,...,...,...,...,...,...
182,United Kingdom,219,126,195,10.4,EU
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS

### Step 5. For each continent print the statistics for wine consumption.

In [13]:
df_drinks.groupby(['continent'])['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [16]:
df_drinks.groupby(['continent'])[['total_litres_of_pure_alcohol']].mean()

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [17]:
df_drinks.groupby(['continent']).median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [28]:
print('mean',df_drinks['spirit_servings'].mean())
print('min',df_drinks['spirit_servings'].min())
print('max',df_drinks['spirit_servings'].max())

mean 80.99481865284974
min 0
max 438

In [30]:
df_drinks[['spirit_servings']].describe()

       spirit_servings
count       193.000000
mean         80.994819
std          88.284312
min           0.000000
25%           4.000000
50%          56.000000
75%         128.000000
max         438.000000